#============= init ==============
allow init ion_device:chr_file write;
allow init video_device:chr_file { ioctl write };
allow init self:socket { bind create read write };
allow init self:socket ioctl;
allowxperm init self:socket ioctl { 0x0000c302 0x0000c304};
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_route_socket read;
allow init self:udp_socket ioctl;
allow init sensors_device:chr_file { getattr ioctl };
allow init sensors_persist_file:file append;
allow init socket_device:sock_file { write create getattr setattr };
allow init device:lnk_file setattr;
allow init device_latency:chr_file write;
allow init diag_device:chr_file ioctl;
allow init ion_device:chr_file ioctl;
allow init modem_efs_partition_device:blk_file write;
allow init nvbackup_block_device:blk_file write;
allow init property_socket:sock_file write;
allow init rpmb_device:blk_file write;
allow init rtc_device:chr_file ioctl;
allow init self:netlink_kobject_uevent_socket { bind create setopt };
allow init self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write setopt write };
allow init self:netlink_socket write;
allow init self:rawip_socket { create getopt setopt };
allow init self:tcp_socket { create ioctl };
allow init self:udp_socket ioctl;
allow init smd_device:chr_file { ioctl write };
allow init smem_log_device:chr_file { ioctl write };
allow init ssd_device:blk_file write;
allow init system_data_file:file append;
allow init tee_device:chr_file { ioctl write };
allow init uio_device:chr_file write;
