#============= init ==============
allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init ion_device:chr_file write;
allow init video_device:chr_file { ioctl write };
allow init self:socket { bind create read write };
allow init self:socket ioctl;
allowxperm init self:socket ioctl { 0x0000c302 0x0000c304 };
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_route_socket read;
allow init sensors_device:chr_file { getattr ioctl };
allow init sensors_persist_file:file append;
allow init socket_device:sock_file { write create getattr setattr };
allow init device:lnk_file setattr;
allow init device_latency:chr_file write;
allow init diag_device:chr_file { write ioctl };
allow init ion_device:chr_file ioctl;
allow init modem_efs_partition_device:blk_file write;
allow init nvbackup_block_device:blk_file write;
allow init property_socket:sock_file write;
allow init rpmb_device:blk_file write;
allow init rtc_device:chr_file ioctl;
allow init self:netlink_kobject_uevent_socket { bind create setopt };
allow init self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write setopt write };
allow init self:netlink_socket { write bind create };
allow init self:rawip_socket { create getopt setopt };
allow init self:tcp_socket { create ioctl };
allowxperm init self:udp_socket ioctl { 0x0000c305 0x000089fd 0x000089f2 0x000089f3 };
allowxperm init self:udp_socket ioctl { 0x000089f4 0x000089f8 0x000089f9 0x00008946 };
allowxperm init self:udp_socket ioctl { 0x00008916 0x00008922 0x000089fb 0x00008939 };
allow init smd_device:chr_file { ioctl write };
allow init smem_log_device:chr_file { ioctl write };
allow init ssd_device:blk_file write;
allow init system_data_file:file append;
allow init tee_device:chr_file { ioctl write };
allow init uio_device:chr_file write;
allow init cameraserver:fd use;
allow init proc_dirty_ratio:file write;
allow init qdsp_device:chr_file ioctl;
allow init netd_socket:sock_file write;
allow init qmuxd_socket:sock_file write;
allow init self:netlink_xfrm_socket { bind create };
allow init wcnss_device:chr_file write;
allow init netd:unix_stream_socket connectto;
allow init gpu_device:chr_file { write ioctl };
allow init alarm_device:chr_file write;
allow init functionfs:dir mounton;
