#============= mpdecision ==============
allow mpdecision cgroup:file read;
allow mpdecision freq_prop:file { getattr open read };
allow mpdecision sysfs:file read;
allow mpdecision system_data_file:dir { add_name remove_name write };
allow mpdecision system_data_file:sock_file { create setattr unlink };
