#============= radio ==============
allow radio qmuxd_socket:sock_file write;
allow radio qmuxd_socket:dir search;
allow radio system_app_data_file:dir getattr;

