allow time_daemon system_data_file:dir { write add_name };
allow time_daemon time_data_file:file { read write create open };
allow time_daemon sysfs:file { read open };
